.bandeau {
    background-color: #F8F9FA;
}

.footer {
    background-color: #F8F9FA;
}

.breadcrumb {
    background-color: white;
}


/*Font*/

@font-face {
    font-family: FuturaCondExtraBold;
    src: url(./fonts/futura-pt-cond-extrabold.otf);
}

@font-face {
    font-family: FuturaMedOblique;
    src: url(./fonts/futura-pt-medium-oblique.otf);
}

@font-face {
    font-family: FuturaMed;
    src: url(./fonts/futura-pt-medium.otf);
}

@font-face {
    font-family: FuturaBold;
    src: url(./fonts/futura-pt-bold.otf);
}


/* Taille header - bandeau - footer*/

header {
    height: 100px;
    background-color: white !important;
}

.bandeau {
    width: 150px;
    padding: 0;
    margin: 0 0 0 -65px;
    background-color: white !important;
}

footer {
    background-color: white !important;
}


/*Taille contenu*/

.contenu {
    min-height: 675px;
}

.h100 {
    height: 100%;
}

.h78 {
    height: 78%;
}

.h45 {
    height: 45%;
}


/*Fil d'ariane - Breadcrumb*/

nav.breadcrumb,
ol.breadcrumb {
    background-color: transparent;
    padding: 0;
    margin: 1% 0 1% 1.5%;
    font-family: "FuturaMedOblique";
}

.breadcrumb-item,
.breadcrumb-item a {
    color: #1b9ffe;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
    color: #1b9ffe;
}


/*Titres*/

h1 {
    color: #d92330;
    margin-bottom: 2%;
    font-family: "FuturaCondExtraBold";
}

h2 {
    color: red;
    font-family: "FuturaBold";
}

h3 {
    color: #5e80d7;
    font-family: "FuturaBold";
}

h4 {
    font-family: "FuturaMedOblique";
}

h5 {
    font-family: "FuturaBold";
}