.formulaire{

    display:inline-block;
}

.formulaire .champ{

    width:500px; 
    height:25px;

}

.formulaire .bouton{

 width:25px;height: 25px;padding: 0;
background-color: white; 
border-style: groove;
border-width: 1px;
border-color:white;
box-sizing: border-box;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 13px;
letter-spacing: 1px;
font-weight: normal;
margin: auto;
text-transform: uppercase;
}
nav ul{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    background-color: #F0F0F0
}

nav li{
    display: inline-block;
    margin: 0px;
    padding: 0px;
    width: 100px;
    height: 0px;
    border-right: 1px solid #CCCCCC;
    line-height: 10px;
}

nav li a{
    text-decoration: none;
    color: black;
}

#je {
    float: left;
}
.card {
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px; 
    width: 20%
}
img {
    border-radius: 5px 5px 0 0;
}

.card:hover {
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2);
}

.container{
        padding: 2px 16px;
}